@font-face {
    font-family: 'Comic Sans MS';
    src: url("Fonts/comici.ttf");
  }

  body {
    font-family: 'Comic Sans MS';
    margin: 0;
    padding: 0;
    background-color: rgb(193, 215, 159);
}

.container {
    text-align: center;
    margin: 50px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background-color: #4CAF50;
    font-family: 'Comic Sans MS';
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#generatedName {
    font-size: 20px;
    margin-top: 20px;
}